*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden ;
}
body{
  background-color: #000;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}
ul {
  list-style: none;
}
img {
  display: block;
  width: 100%;
  object-fit: cover;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 12px;
}